* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "argonite";
  src: url("./assets/stone\ orgonite.woff");
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins-Regular.ttf");
}

:root {
  --primary-color: #0d6efd;
  --secondary-color: #dc3545;
  --dark-color: #1b1b1b;
  --ligth-color: #ffffff;
}

html {
  font-family: "Poppins";  
}

body {
  color: var(--ligth-color);  
}

html, body{
  overflow-x: hidden;
}

section {
  padding: 5%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-family: "Argonite";
  font-size: 1rem;
  margin-left: 0.5rem;
}

.logo img {
  width: 1.5rem;
}

.links {  
  align-items: center;
  background-color: var(--ligth-color);    
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: all ease 0.5s;
}

.links a{
  color: var(--dark-color);
  font-size: 2rem;
  text-decoration: none;
}

.links-active{
  transform: translateX(0%);
  transition: all ease 0.5s;
}

.links a{
  color: var(--dark-color);
  text-decoration: none;
}

nav {
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

nav svg {
  cursor: pointer;
  z-index: 999;
}

.line{
  stroke: #ffffff;
}

.line-active{
  stroke: #1b1b1b;
}

h2 {
  font-family: "Argonite";
  font-size: 2.5rem;
  line-height: 125%;
  padding: 1rem 0;
}
h3 {
  font-size: 1.25rem;
  line-height: 125%;  
}

.selling-points {
  margin-top: 25vh;
}

.selling-points header {
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
}

.pets {
  color: var(--dark-color);
}

.adote {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.adote-item-container {
  position: relative;
}

.adote-item-button {
  color: var(--dark-color);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  border: none;
  font-family: "Poppins";
  position: absolute;
  bottom: 10%;
  left: 50%;
  padding: 0.2em 0.5em;
  transform: translateX(-50%);  
}

.adote-item-button a {
  color: var(--ligth-color);
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: none;
}

.adote-item {
  overflow: hidden;
  border-radius: 0.5rem;
}

.adote-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

header {
  text-align: center;
}

.ctas {
  margin-top: 2rem;
  text-align: center;
}

.ctas button {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem;
}

.cta-main {
  background-color: var(--primary-color);
  color: var(--ligth-color);
}

.cta-sec {
  background-color: var(--secondary-color);
  color: var(--ligth-color);
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero-container {
  background-color: gray;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.pix{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--dark-color);
}
.qr-container img{
  width: 100%;
}
.pix h3{
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  section {
    padding: 5% 15%;
  }

  .adote {
    flex-direction: row;    
  }

  .pix{    
    align-items: center;
    flex-direction: row;
  }
  .pix div{
    width: 50%;
  }
  .qr-container img{
    width: 50%;
  }
}
